@model PersonModel
@{
    ViewData["Title"] = "contact";
}

<h1>Contact</h1>

<div class="contact-form">
    <form method="post">

        <label>
            Voornaam: * @Html.ValidationMessageFor(m => m.Voornaam) <br />
            <input type="text" name="voornaam" autocomplete="off" autofocus="true" value="@Model?.Voornaam" />
        </label>
        <label>
            Achternaam: *  @Html.ValidationMessageFor(m => m.Achternaam) <br />
            <input type="text" name="achternaam" autocomplete="off" value="@Model?.Achternaam" />
        </label>
        <label>
            E-mail: *   @Html.ValidationMessageFor(m => m.Email) <br />
            <input type="text" name="email" autocomplete="off" value="@Model?.Email" />
        </label>
        <label>
            Geboorte datum: *  @Html.ValidationMessageFor(m => m.Geb_datum) <br />
            <input type="text" name="geb_datum" autocomplete="off" value="@Model?.Geb_datum" />
        </label>
        <input class="button" type="submit" value="verzenden" />
    </form>
</div>