@{
    ViewData["Title"] = "gelukt";
}

<h1> Gelukt!</h1>

<p>Bedankt voor het invullen van het formulier, we nemen zo snel mogelijk contact op.</p>

<img id="gelukt_img" src="~/images/Jason-thumbs-up.png"/> 


