@using SchoolTemplate.Database;
@model List<Festival>
@{
  ViewData["Title"] = "Home Page";
}

<h1>Hoi</h1>

<div class="text-center">
  <h1 class="display-4">HOI</h1>
  <ul>
    @foreach (Festival f in Model)
    {
      <li>
        @f.naam 
      </li>
    }
  </ul>
  
</div>
