@{ ViewData["Title"] = "Home Page"; }


<div class="nav_img">
    <div class="Titelhome">
        <h1>Hooge Mierde</h1>
        <p>Festival Terrein</p>
    </div>
</div>
<div class="text-center">
    <h1>Nieuws</h1>
    <div class="nieuws">
        <div class="nieuws_item">
            <h3>
                Weer
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis velit vehicula blandit malesuada. Sed quis lacus id mauris pulvinar laoreet. Morbi mollis pretium tempus. Curabitur vitae vehicula felis, vitae facilisis velit. Mauris nec maximus ligula. Etiam sagittis leo eget sodales posuere. Fusce luctus eu justo vel tristique. Duis sagittis arcu non diam sollicitudin sagittis. Morbi venenatis, libero ac pretium placerat, diam ligula sagittis leo, quis luctus justo velit vel metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas non ex vel magna consectetur aliquet ullamcorper nec ante. Duis a lacus pellentesque massa aliquam pellentesque id nec libero. Maecenas lobortis felis pretium eleifend pharetra. In in suscipit massa. Integer elementum aliquet nibh sagittis mollis.
            </p>
        </div>
        <div class="nieuws_item">
            <h3>
                Corona
            </h3>
            <p>
                Vanwege het corona virus gaan de festivals tot en met eind 2020 niet meer door! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis velit vehicula blandit malesuada. Sed quis lacus id mauris pulvinar laoreet. Morbi mollis pretium tempus. Curabitur vitae vehicula felis, vitae facilisis velit. Mauris nec maximus ligula. Etiam sagittis leo eget sodales posuere. Fusce luctus eu justo vel tristique. Duis sagittis arcu non diam sollicitudin sagittis. Morbi venenatis, libero ac pretium placerat, diam ligula sagittis leo, quis luctus justo velit vel metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas non ex vel magna consectetur aliquet ullamcorper nec ante. Duis a lacus pellentesque massa aliquam pellentesque id nec libero. Maecenas lobortis felis pretium eleifend pharetra. In in suscipit massa. Integer elementum aliquet nibh sagittis mollis.
            </p>
        </div>
        <div class="nieuws_item">
            <h3>
                Belangrijk!
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis velit vehicula blandit malesuada. Sed quis lacus id mauris pulvinar laoreet. Morbi mollis pretium tempus. Curabitur vitae vehicula felis, vitae facilisis velit. Mauris nec maximus ligula. Etiam sagittis leo eget sodales posuere. Fusce luctus eu justo vel tristique. Duis sagittis arcu non diam sollicitudin sagittis. Morbi venenatis, libero ac pretium placerat, diam ligula sagittis leo, quis luctus justo velit vel metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas non ex vel magna consectetur aliquet ullamcorper nec ante. Duis a lacus pellentesque massa aliquam pellentesque id nec libero. Maecenas lobortis felis pretium eleifend pharetra. In in suscipit massa. Integer elementum aliquet nibh sagittis mollis.
            </p>
        </div>
    </div>
</div>
