@{ ViewData["Title"] = "Home Page"; }


<div class="nav_img">
    <div class="Titelhome">
        <h1>Hooge Mierde</h1>
        <p>Festival Terrein</p>
    </div>
</div>
<div class="text-center">
    <h1>Nieuws</h1>
    <div class="nieuws">
        <div class="nieuws_item">
            <h3>
                Weer
            </h3>
            <p>
                Door de opwarming van de aarde zal de lucht in Nederland meer waterdamp bevatten, ongeveer 6-7 procent meer per graad opwarming. Dit geeft een toename van neerslag extremen. De mate waarin is echter afhankelijk van het type neerslag; extreme neerslag uit buien neemt mogelijk sneller toe dan die uit frontale zones.


                Neerslag extremen zijn in Nederland toegenomen in de meeste statistieken. Zo is bijvoorbeeld het aantal dagen met meer dan 50 millimeter op 1 station in Nederland gemiddeld bijna verdubbeld in de laatste 50 jaar. Vanwege de grilligheid van de weerverschijnselen die zorgen voor deze extremen zijn deze toenames echter nog niet altijd statistisch met zekerheid vast te stellen, zeker voor de meest heftige buien.


                Op grond van de opwarming van de aarde, en de daarmee gepaard gaande toename van de hoeveelheid vocht, wordt een verdere intensivering van de neerslag verwacht. Dit leidt tot zwaardere extremen en het vaker voorkomen van extreme hoeveelheden neerslag. Toenames hangen af van de wereldwijde opwarming, de verandering in stromingspatronen en ook het type neerslag extreem.
            </p>
        </div>
        <div class="nieuws_item">
            <h3>
                Corona
            </h3>
            <p>
                Met uitzondering van een verhoogde sterfte in week 33 en 34 tijdens de hittegolf, was de sterfte sinds week 19 gemiddeld wat lager dan wat verwacht werd als er geen corona-epidemie was geweest. Daarvoor was de sterfte negen weken verhoogd als gevolg van de corona-epidemie. Tijdens de eerste golf van de corona-epidemie overleden 10 duizend mensen bij wie vastgestelde of vermoedelijke COVID-19 de doodsoorzaak was.
                Voor week 41 zijn vanuit de GGD’s 109 in het laboratorium bevestigde COVID-19-patiënten als overleden gemeld aan het RIVM (stand 13 oktober). In week 39 was het aantal 81 en in week 40 101. Omdat mogelijk niet alle mensen met COVID-19 zich laten testen en de registratie soms wat langer duurt, zullen de werkelijke aantallen overleden COVID-19 patiënten in Nederland waarschijnlijk hoger zijn.


            </p>
        </div>
        <div class="nieuws_item">
            <h3>
                Tips
            </h3>
            <p>
                Iedereen die al eens een weekend op Lowlands, Pinkpop of een ander groot festival heeft gebivakkeerd, weet dat dit - buiten een goed weekend - twee dingen betekent: weinig slaap en bakken met geld besteden. Eten speelt een belangrijke rol in beide zaken, want het geeft je hernieuwde energie, maar kost ook een fortuin als je het op het festival haalt. Als je de volgende etenswaren meeneemt voor in je tent sla je twee vliegen in één klap.
            </p>
        </div>
    </div>
</div>
