@{
  ViewData["Title"] = "Home Page";
}


    <div class="nav_img">
        <div class="Titelhome">
            <h1>Hooge Mierde</h1>
            <p>Festival Terrein</p>
        </div>
    </div>
<div class="text-center">
    <h1>Nieuws</h1>
</div>
