
@{
    ViewData["Title"] = "informatie";
}
<h1>Locatie</h1>
<p1>Adres: Poppelsedijk 1, Hooge Mierde, Noord-Brabant</p1>

<h1>Social Media</h1>
<p>Instagram: @@Terrein_HoogeMierde</p>
<p>Facebook: @@Terrein_HoogeMierde</p>

<h1>Plattegrond</h1>
<img class="plattegrond" src="~/images/plattegrond.png" />

