@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "informatie";
}

<div class="container">
   
    <div class="festivals">
        @foreach (Festival f in Model)
        {
            <div class="festival_div">
                @f.naam<br />
                @f.plaats<br />
                @f.start_dt

            </div>
        }
    </div>

</div>
