@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "informatie";
}
<h1>Locatie</h1>
<p1>Adress: Poppelsedijk 1, Hooge Mierde, Noord-Brabant</p1>

<h1>Social Media</h1>
<p>Instagram: @@Terrein_HoogeMierde</p>
<p>Facebook: @@Terrein_HoogeMierde</p>

