@using SchoolTemplate.Database;
@model List<Festival>
@{ ViewData["Title"] = "overzicht"; }

<div class="container">

    <div class="festivals">
        @foreach (Festival f in Model)
        {
            <div class="festival_div" onclick="location.href='festival/@f.id'">
                <h2>@f.naam<br /></h2>
                @if (f.plaats != "")
                {
                    <h3>@f.plaats<br /></h3>                
                    }
                <img class="festival_img" src="@f.image" /><br />
            </div>
            }
    </div>
</div>
