@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "overzicht";
}

<div class="container">

    <div class="festivals">
        @foreach (Festival f in Model)
        {
            <div class="festival_div">
                @f.naam<br />
                @if (f.plaats != "")
                {
                    @f.plaats<br />
                }
                @f.start_dt <br />
                <img class="festival_img" src="@f.image"/><br/>
                <button onclick="location.href='festival/@f.id'">Tickets</button>
            </div>
        }
    </div>

</div>
