<!DOCTYPE html>
<html>
<head>
    <title>Festival</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="nav-bar">
        <a href="/">Home</a>
        <a href="/informatie">Informatie</a>
        <a href="/overzicht">Overzicht</a>
        <a href="/contact">Contact</a>
    </div>


    <div class="wrapper">
        <div class="content">
            @RenderBody()

        </div>
        <div class="footer">
            <h1>Festival Hooge Mierde</h1>
            <p>Het festival voor jong en oud</p>
        </div>
    </div>
</body>
</html>
